In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Data Clensing

In [4]:
df=pd.read_csv('adult.csv')
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [5]:
df.columns=["Age","Workclass","Fnwgt","Education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","income"]
df.head()

,Age,Workclass,Fnwgt,Education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [6]:
df.isnull().sum()

Age               0
Workclass         0
Fnwgt             0
Education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [7]:
df.shape

(32560, 15)

In [8]:
df.duplicated().sum()

24

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.duplicated().sum()

0

In [11]:
df.dtypes

Age                int64
Workclass         object
Fnwgt              int64
Education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [12]:
df["Workclass"].value_counts()

 Private             22673
 Self-emp-not-inc     2540
 Local-gov            2093
 ?                    1836
 State-gov            1297
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: Workclass, dtype: int64

In [13]:
df["Education"].value_counts()

 HS-grad         10494
 Some-college     7282
 Bachelors        5352
 Masters          1722
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           645
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           332
 1st-4th           166
 Preschool          50
Name: Education, dtype: int64

In [14]:
df["occupation"].value_counts()

 Prof-specialty       4136
 Craft-repair         4094
 Exec-managerial      4065
 Adm-clerical         3767
 Sales                3650
 Other-service        3291
 Machine-op-inspct    2000
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1369
 Farming-fishing       992
 Tech-support          927
 Protective-serv       649
 Priv-house-serv       147
 Armed-Forces            9
Name: occupation, dtype: int64

In [15]:
df["native_country"].value_counts()

 United-States                 29152
 Mexico                          639
 ?                               582
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Japan                            62
 Guatemala                        62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64

In [16]:
df["income"].value_counts()

 <=50K    24697
 >50K      7839
Name: income, dtype: int64

In [17]:
df["race"].value_counts()

 White                 27794
 Black                  3122
 Asian-Pac-Islander     1038
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [18]:
df["sex"].value_counts()

 Male      21774
 Female    10762
Name: sex, dtype: int64

In [19]:
df.head()

,Age,Workclass,Fnwgt,Education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [20]:
df.drop(["Education","relationship","marital_status"],axis=1,inplace=True)
df.head()

,Age,Workclass,Fnwgt,education_num,occupation,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,13,Exec-managerial,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,9,Handlers-cleaners,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,7,Handlers-cleaners,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,13,Prof-specialty,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,14,Exec-managerial,White,Female,0,0,40,United-States,<=50K

Using LabelEncoder

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
lb=LabelEncoder()

In [23]:

df["Workclass"]=lb.fit_transform(df["Workclass"])
df["occupation"]=lb.fit_transform(df["occupation"])
df["race"]=lb.fit_transform(df["race"])
df["sex"]=lb.fit_transform(df["sex"])
df["native_country"]=lb.fit_transform(df["native_country"])
df["income"]=lb.fit_transform(df["income"])

In [24]:
df.head()
#income
# 0-<=50
#1- >50

,Age,Workclass,Fnwgt,education_num,occupation,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,6,83311,13,4,4,1,0,0,13,39,0
1,38,4,215646,9,6,4,1,0,0,40,39,0
2,53,4,234721,7,6,2,1,0,0,40,39,0
3,28,4,338409,13,10,2,0,0,0,40,5,0
4,37,4,284582,14,4,4,0,0,0,40,39,0

In [25]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]
print(type(x))
print(type(y))
print(x.shape)
print(y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(32536, 11)
(32536,)

In [26]:
from sklearn.model_selection import  train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25)

In [27]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(x_test.shape)

(24402, 11)
(24402,)
(8134, 11)
(8134, 11)

In [28]:
from  sklearn.metrics import classification_report,confusion_matrix

In [29]:
def apply_model(model,x_train,x_test,y_train,y_test):
    model.fit(x_train,y_train)
    ypred=model.predict(x_test)
    cm=confusion_matrix(y_test,ypred)
    print('Training score',model.score(x_train,y_train))
    print('Testing score',model.score(x_test,y_test))
    print('classification report',classification_report(y_test,ypred))
    print('predicited value',ypred)
    tp, fn, fp, tn = cm.reshape(-1)
    print('Outcome values : \n', tp, fn, fp, tn)
    pre0=tp/(tp+fp)
    pre1=tn/(tn+fn)
    rec0=tp/(tp+fp)
    rec1=tn/(tn+fn)
    print("pre0: ",pre0,"\n","pre1: ",pre1,"\n","rec0: ",rec0,"\n","rec1: ",rec1)
    f1s0 = 2*pre0*rec0/(pre0 + rec0)
    f1s1 = 2*pre1*rec1/(pre1 + rec1)
    print('F1-score0',f1s0)
    print('F1-score1',f1s1)
    acc = (tp+tn)/(tp+tn+fp+fn)
    print('Accuracy',acc)
    miss_calss=(fn+fp)/(tp+fn+fp+tn)
    print("percentage of missclassification: ",miss_calss)

Hyperparameter Tuning

In [30]:
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [31]:
params_dt = {'criterion':['gini','entropy'],
            'max_depth':list(range(200,400,5)),
            'min_samples_split':list(range(0,100,5))}
print(params_dt)

{'criterion': ['gini', 'entropy'], 'max_depth': [200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395], 'min_samples_split': [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]}

In [32]:
dt1 = DecisionTreeClassifier()
gscv1 = GridSearchCV(dt1, param_grid=params_dt)
gscv1.fit(x_train,y_train)

c:\Python310\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
400 fits failed out of a total of 8000.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
400 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python310\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python310\lib\site-packages\sklearn\tree\_classes.py", line 969, in fit
    super().fit(
  File "c:\Python310\lib\site-packages\sklearn\tree\_classes.py", line 265, in fit
    check_scalar(
  File "c:\Python310\lib\site-packages\sklearn\utils\validation.py", line 1480, in check_scalar
    raise ValueError(
ValueError: min_samples_split == 0, must be >= 2.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Python310\lib\site-packages\sklearn\model_selection\_search.py:953: UserWarning: One or more of the test scores are non-finite: [       nan 0.79202504 0.80120487 ... 0.827965   0.82907149 0.82964511]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [200, 205, 210, 215, 220, 225, 230, 235,
                                       240, 245, 250, 255, 260, 265, 270, 275,
                                       280, 285, 290, 295, 300, 305, 310, 315,
                                       320, 325, 330, 335, 340, 345, ...],
                         'min_samples_split': [0, 5, 10, 15, 20, 25, 30, 35, 40,
                                               45, 50, 55, 60, 65, 70, 75, 80,
                                               85, 90, 95]})

In [33]:
print(gscv1.best_params_)

{'criterion': 'gini', 'max_depth': 245, 'min_samples_split': 95}

In [34]:
print('Training Score',gscv1.score(x_train,y_train))
print('Testing Score',gscv1.score(x_test,y_test))

Training Score 0.8637406769936891
Testing Score 0.8313253012048193

In [35]:
params_dt2={'n_estimators':list(range(0,100,5)),'criterion':['gini','entropy'],
            'max_depth':list(range(0,200,10)),
            'min_samples_split':list(range(5,100,5))}

In [36]:
rf1=RandomForestClassifier()
gscv2=RandomizedSearchCV(rf1,param_distributions=params_dt2)
gscv2.fit(x_train,y_train)

c:\Python310\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
5 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python310\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python310\lib\site-packages\sklearn\ensemble\_forest.py", line 476, in fit
    trees = Parallel(
  File "c:\Python310\lib\site-packages\joblib\parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "c:\Python310\lib\site-packages\joblib\parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "c:\Python310\lib\site-packages\joblib\parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "c:\Python310\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "c:\Python310\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "c:\Python310\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "c:\Python310\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "c:\Python310\lib\site-packages\sklearn\utils\fixes.py", line 117, in __call__
    return self.function(*args, **kwargs)
  File "c:\Python310\lib\site-packages\sklearn\ensemble\_forest.py", line 189, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "c:\Python310\lib\site-packages\sklearn\tree\_classes.py", line 969, in fit
    super().fit(
  File "c:\Python310\lib\site-packages\sklearn\tree\_classes.py", line 238, in fit
    check_scalar(
  File "c:\Python310\lib\site-packages\sklearn\utils\validation.py", line 1480, in check_scalar
    raise ValueError(
ValueError: max_depth == 0, must be >= 1.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Python310\lib\site-packages\sklearn\model_selection\_search.py:953: UserWarning: One or more of the test scores are non-finite: [0.8452584  0.84488962 0.84628283 0.84624187 0.84628288        nan
 0.84595508 0.84620108 0.84525845 0.84661073]
  warnings.warn(

RandomizedSearchCV(estimator=RandomForestClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [0, 10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110, 120,
                                                      130, 140, 150, 160, 170,
                                                      180, 190],
                                        'min_samples_split': [5, 10, 15, 20, 25,
                                                              30, 35, 40, 45,
                                                              50, 55, 60, 65,
                                                              70, 75, 80, 85,
                                                              90, 95],
                                        'n_estimators': [0, 5, 10, 15, 20, 25,
                                                         30, 35, 40, 45, 50, 55,
                                                         60, 65, 70, 75, 80, 85,
                                                         90, 95]})

In [37]:
print(gscv2.best_params_)
print('Training Score',gscv2.score(x_train,y_train))
print('Testing Score',gscv2.score(x_test,y_test))

{'n_estimators': 45, 'min_samples_split': 70, 'max_depth': 60, 'criterion': 'gini'}
Training Score 0.8672649782804688
Testing Score 0.8462011310548315

In [38]:
params_knn = {'n_neighbors':list(range(101,1500,50))}
print(params_knn)

{'n_neighbors': [101, 151, 201, 251, 301, 351, 401, 451, 501, 551, 601, 651, 701, 751, 801, 851, 901, 951, 1001, 1051, 1101, 1151, 1201, 1251, 1301, 1351, 1401, 1451]}

In [39]:
knn1 = KNeighborsClassifier()
rscv1 = RandomizedSearchCV(knn1,param_distributions=params_knn)
rscv1.fit(x_train,y_train)

RandomizedSearchCV(estimator=KNeighborsClassifier(),
                   param_distributions={'n_neighbors': [101, 151, 201, 251, 301,
                                                        351, 401, 451, 501, 551,
                                                        601, 651, 701, 751, 801,
                                                        851, 901, 951, 1001,
                                                        1051, 1101, 1151, 1201,
                                                        1251, 1301, 1351, 1401,
                                                        1451]})

In [40]:
print(rscv1.best_params_)
print('Training Score',rscv1.score(x_train,y_train))
print('Testing Score',rscv1.score(x_test,y_test))

{'n_neighbors': 401}
Training Score 0.7670272928448488
Testing Score 0.7596508482911237

In [41]:
# params_SVM1={'kernel':['linear'],'C':[0.00001,0.0001,0.001,0.01,0.1,1,10,100,1000]}

In [42]:
# scv1=SVC()
# gscv4=RandomizedSearchCV(scv1,param_distributions=params_SVM1)
# gscv4.fit(x_train,y_train)

In [43]:
# print(gscv4.best_params_)
# print('Training Score',gscv4.score(x_train,y_train))
# print('Testing Score',gscv4.score(x_test,y_test))

Logistic Regression

In [44]:
logr1=LogisticRegression(solver='liblinear')

In [45]:
apply_model(logr1,x_train,x_test,y_train,y_test)

Training score 0.7871485943775101
Testing score 0.7868207523973445
classification report               precision    recall  f1-score   support

           0       0.81      0.94      0.87      6145
           1       0.64      0.30      0.41      1989

    accuracy                           0.79      8134
   macro avg       0.72      0.62      0.64      8134
weighted avg       0.76      0.79      0.76      8134

predicited value [0 0 1 ... 0 0 1]
Outcome values :
 5803 342 1392 597
pre0:  0.8065323141070188
 pre1:  0.6357827476038339
 rec0:  0.8065323141070188
 rec1:  0.6357827476038339
F1-score0 0.8065323141070188
F1-score1 0.6357827476038339
Accuracy 0.7868207523973445
percentage of missclassification:  0.21317924760265552

DecisionTreeClassifier

In [46]:
m1=DecisionTreeClassifier(criterion='entropy', max_depth=265, min_samples_split= 85)

In [47]:
apply_model(m1,x_train,x_test,y_train,y_test)

Training score 0.8675928202606343
Testing score 0.8307105974920088
classification report               precision    recall  f1-score   support

           0       0.86      0.93      0.89      6145
           1       0.71      0.52      0.60      1989

    accuracy                           0.83      8134
   macro avg       0.78      0.72      0.75      8134
weighted avg       0.82      0.83      0.82      8134

predicited value [0 1 1 ... 0 0 0]
Outcome values :
 5728 417 960 1029
pre0:  0.8564593301435407
 pre1:  0.7116182572614108
 rec0:  0.8564593301435407
 rec1:  0.7116182572614108
F1-score0 0.8564593301435407
F1-score1 0.7116182572614108
Accuracy 0.8307105974920088
percentage of missclassification:  0.16928940250799115

RandomForestClassifier

In [48]:
m2=RandomForestClassifier(n_estimators= 50, min_samples_split= 80, max_depth= 170, criterion= 'entropy')

In [49]:
apply_model(m2,x_train,x_test,y_train,y_test)

Training score 0.8692730104089829
Testing score 0.846815834767642
classification report               precision    recall  f1-score   support

           0       0.86      0.96      0.90      6145
           1       0.79      0.51      0.62      1989

    accuracy                           0.85      8134
   macro avg       0.82      0.73      0.76      8134
weighted avg       0.84      0.85      0.83      8134

predicited value [0 0 1 ... 0 0 0]
Outcome values :
 5880 265 981 1008
pre0:  0.8570179274158286
 pre1:  0.7918303220738413
 rec0:  0.8570179274158286
 rec1:  0.7918303220738413
F1-score0 0.8570179274158286
F1-score1 0.7918303220738414
Accuracy 0.846815834767642
percentage of missclassification:  0.153184165232358

KNN

In [50]:
m3=KNeighborsClassifier(n_neighbors= 151)

In [51]:
apply_model(m3,x_train,x_test,y_train,y_test)

Training score 0.7800999918039505
Testing score 0.7748955003688223
classification report               precision    recall  f1-score   support

           0       0.77      1.00      0.87      6145
           1       0.99      0.08      0.15      1989

    accuracy                           0.77      8134
   macro avg       0.88      0.54      0.51      8134
weighted avg       0.82      0.77      0.69      8134

predicited value [0 0 1 ... 0 0 0]
Outcome values :
 6143 2 1829 160
pre0:  0.7705720020070246
 pre1:  0.9876543209876543
 rec0:  0.7705720020070246
 rec1:  0.9876543209876543
F1-score0 0.7705720020070247
F1-score1 0.9876543209876543
Accuracy 0.7748955003688223
percentage of missclassification:  0.22510449963117776

SVC

In [52]:
m4=SVC(kernel='linear',C=1)

In [53]:
apply_model(m4,x_train,x_test,y_train,y_test)

<br>Model With Best Accuray Is Random Forest Classifier